
	*{box-sizing: border-box;}

	html{
		height: 100%;
		min-width: 400px;
		font-size: 1rem;
		font-family: sans-serif;
	}

	body{
		color:#333333;
		margin: 0px auto 40px;
		max-width: 1200px;
		height: 100%;
		border-right: 1px solid #707070 ;
		border-left: 1px solid #707070 ;
	}


	img{ max-width: 100%;}

	a {color: #000088;}
    a:hover{color: #000088;}

	ul{
		list-style-type: none;
		background-color: #000088;
		margin: 0;
		padding: 3px 50px;
		display: flex;
		justify-content: right;
		gap: 40px;
	}

	.textlink a {
		position: relative;
		color: #ffffe0;
		text-decoration: none;
	}
	.textlink a:hover {
		color: #eeeecc;
	}
	.textlink01 a::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #e0e0aa;
		transform: scaleX(0);
		transition: transform 0.3s;
	}

	.textlink2 a {
	    position: relative;
    	color: #0000dd;
    	text-decoration: none;
		font-weight:bold;
    }
    .textlink2 a:hover {
	    color: #aa00aa;
    }
    .textlink02 a::after {
    	content: '';
	    position: absolute;
	    bottom: 0;
    	left: 0;
    	width: 100%;
    	height: 2px;
    	background-color: #aa00aa;
    	transform: scaleX(0);
    	transition: transform 0.3s;
    }


	.textlink02,.textlink01 a:hover::after {
		transform: scaleX(1);
	}


	.header{    /*タイトル*/
        margin: 0;
		padding: 80px;
		width: 100%;
        height: 150px;
		background-image: url(img/header.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.from{
		margin: 0;
		padding: 5px 0;
		background-color: #000088;
		color: #ffffff;
		text-align: center;
	}

	footer{
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;	
		position: sticky;
		top: 100vh;
		bottom: 0;
	}

	h1{
		color: #330055;
		text-align: right;
		text-shadow: 2px 3px 0 #ccccff;
		font-size: 40px;
	}
	.main_index{
		background-image: url(img/topimg3.jpg);
		background-repeat: no-repeat;
		background-position: right bottom;
		background-size: 600px auto;	
		margin: 0;
	}
	.main_class{ padding: 50px;}
	.toumei{
		background: linear-gradient(to top, rgba(255, 255, 255, 0) 10%,rgba(255, 255, 255, 1) 90%);
	}
	
	.text{
        margin: 0;
        padding: 20px 200px 20px 70px;
        line-height: 32px;
    }





	.quiz{
		margin: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 20px;
	}


@media (max-width:768px) {
	bdy{
		font-size: 50%;
	}
    .main_class{
        flex-direction: column;
    }
	ul{	justify-content: center;
		gap: 12px;}

	.home_index{
		margin: 0;
		padding: 10px 10px 0px;
		height: 120px;
	}

	.quiz{ 
		grid-template-columns: 1fr 1fr;
		min-width: 300px;
	}

	h1{ font-size: 2rem;}
	
	.text{ padding: 10px;}
}
